@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0;
    margin: 0 ;
    font-family: 'Playfair Display';
}
body{
    flex-direction: column;
    display: flex;
}
 div p{
    color: #fff;
 }
 div h1{
    color: #991117;
 }
 header{
    padding-top: 40px;
 }
 header  .cabecalho{
    display: flex;
 }
 .flex{
    display: flex;
 }
 #tomie_logo{
    width: 100px;
    padding-left: 50px;
    
}
 .container{
    margin: 0 auto; 
    padding-right: 100px;
 }    
.cabecalho #menu ul{
    display: flex;
}
.cabecalho #menu ul li{
    list-style: none;
    padding: 0 auto;
    z-index: 1;
    
}
.cabecalho #menu .submenu{
    display: none;
    position: absolute;
}
.cabecalho #menu li:hover .submenu{
    display: block;  
    background-color: #000000;
}
.cabecalho #menu a{
    color: #7d7d7d;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.cabecalho #menu li:hover .submenu{
    display: block;
}
.cabecalho #menu a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}










 




